@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

p,
h1,
span {
    font-family: 'Nunito', sans-serif;
    ;
}

:root {
    --bg-color: hsl(207, 26%, 17%);
    --nav-color: hsl(209, 23%, 22%);
    --font-color: white;
    --font-nav-color: hsl(0, 0%, 52%);
}

.dark_mode {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.search_icon_dark {
    display: none;
}

.day_mode {
    cursor: pointer;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar>p {
    margin-left: 60px;
    color: var(--font-color);
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

.mode {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: var(--font-color);
}

.mode>p {
    font-size: 1rem;
    color: hsl(0, 0%, 52%);
}

.main {
    /* background-color: var(--bg-color); */
    width: 100%;
    max-height: max-content;
    /* display: none; */
}

.search_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

#search {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    border-radius: 10px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#search>img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#search_txt {
    width: 100%;
    padding: 0px 14px;
    background-color: var(--bg-nav-color);
    outline: none;
    border: 0;
    color: var(--font-color);
    font-size: 0.8rem;
}

#search_txt::placeholder {
    color: var(--font-color);
    opacity: 0.8;
    letter-spacing: 0.08rem;
}

#select {
    color: var(--font-color);
    border-radius: 10px;
    background-color: var(--nav-color);
    position: relative;
}

.fliter {
    padding: 10px 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#drop_logo {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.drop_down_menu {
    width: 100%;
    background: var(--nav-color);
    padding: 20px 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    border-radius: 10px;
    display: none;
    transition: display 1s linear;
}

.active_drop_down {
    display: block;
}

.drop_down_menu>p {
    padding: 5px 20px;
    cursor: pointer;
}

.countries {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.country {
    margin: 30px;
    width: 250px;
    /* height: 330px; */
    background-color: var(--nav-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#flag {
    width: 250px;
    height: 150px;
}

.about {
    padding: 30px;
    color: var(--font-nav-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.about>p {
    margin-top: 3px;
}

.about>p>span {
    color: var(--font-color);
    letter-spacing: 0.05rem;
    margin-right: 2px;
}

.about>h1 {
    color: var(--font-color);
    margin-bottom: 10px;
    letter-spacing: 0.05rem;
}

.country_details {
    display: none;
    flex-direction: column;
    height: 100%;
}

.back {
    width: 100%;
}

.back_button>img {
    margin-right: 10px;
}

.back_button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 60px;
    width: 100px;
    height: 50px;
    background-color: var(--nav-color);
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--font-nav-color);
    font-size: 1rem;
    cursor: pointer;
}

.country_details_main {
    margin: 20px 60px;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.country_flag {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.country_flag>img {
    width: 500px;
    height: 350px;
}

.details {
    width: 50%;
    height: 100%;
    padding: 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.detail_upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details_heading>h1 {
    color: var(--font-color);
    margin-bottom: 10px;
}

.deatils_name>p,
.deatils_currencies>p {
    margin: 20px 0px;
    color: var(--font-nav-color);
}

.deatils_name>p>span,
.deatils_currencies>p>span {
    color: var(--font-color);
    letter-spacing: 0.05rem;
    margin-right: 2px;
}

.detail_lower {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.detail_lower>p:first-child {
    color: var(--font-color);
    margin-right: 20px;
}

.borders {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

.border_buttom {
    /* padding: 30px; */
    margin: 20px;
    padding: 10px 10px;
    background-color: var(--nav-color);
    color: var(--font-color);
}

@media (max-width:1135px) {
    .country_flag>img {
        width: 350px;
        height: 250px;
    }
    .details {
        flex-wrap: wrap;
    }
    .detail_lower {
        margin-top: 0px;
        flex-wrap: wrap;
    }
    .detail_lower>p:first-child {
        margin-right: 0px;
    }
    .border_buttom {
        /* padding: 30px; */
        margin: 10px;
        padding: 10px 10px;
    }
}

@media (max-width:700px) {
    .search_select {
        flex-wrap: wrap;
        padding: 20px 20px;
    }
    #search {
        margin-bottom: 20px;
    }
}

@media (max-width:420px) {
    .navbar {
        justify-content: space-around;
    }
    .navbar>p {
        margin-left: 20px;
        font-size: 0.8rem;
    }
    .mode>p {
        font-size: 0.7rem;
    }
    .dark_mode {
        width: 15px;
        height: 15px;
    }
    .back_button {
        width: 80px;
        height: 30px;
        margin: 20px 60px;
        padding: 10px 30px;
    }
}

@media (max-width:300px) {
    .country {
        width: 100%;
    }
    #flag {
        width: 100%;
    }
}

@media (max-width:831px) {
    .navbar {
        justify-content: space-around;
    }
    .country_details_main {
        flex-direction: column;
    }
    .country_flag {
        width: 100%;
        justify-content: center;
    }
    .country_flag>img {
        width: 100%;
        height: 100%;
    }
    .details {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        padding: 0px;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }
    .detail_upper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}